* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-circle {
  margin: 0 auto;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  border: solid;
  position: relative;
  box-sizing: content-box;
  margin-bottom: 30px;
}
.actions {
  display: flex;
  gap: 20px;
}
.button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #0dfd04;
  border: unset;
  color: #fff;
  border-radius: 8px;
  width: 100px;
}
.main-line {
  width: 3px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
}
.line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: top left;
  width: 1px;
}
.line::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: inherit;
  border-radius: 50%;
  border: 1px solid;
  box-sizing: border-box;
}

.line-1 {
  --rgb: 42, 0, 114;
  height: 170px;
  background-color: rgba(var(--rgb));
}
.line-2 {
  --rgb: 103, 58, 183;
  height: 160px;
  background-color: rgba(var(--rgb));
}
.line-3 {
  --rgb: 63, 81, 181;
  height: 150px;
  background-color: rgba(var(--rgb));
}
.line-4 {
  --rgb: 33, 150, 243;
  height: 140px;
  background-color: rgba(var(--rgb));
}
.line-5 {
  --rgb: 3, 169, 244;
  height: 130px;
  background-color: rgba(var(--rgb));
}
.line-6 {
  --rgb: 0, 188, 212;
  height: 120px;
  background-color: rgba(var(--rgb));
}
.line-7 {
  --rgb: 0, 150, 136;
  height: 110px;
  background-color: rgba(var(--rgb));
}
.line-8 {
  --rgb: 76, 175, 80;
  height: 100px;
  background-color: rgba(var(--rgb));
}
.line-9 {
  --rgb: 139, 195, 74;
  height: 90px;
  background-color: rgba(var(--rgb));
}
.line-10 {
  --rgb: 205, 220, 57;
  height: 80px;
  background-color: rgba(var(--rgb));
}
.line-11 {
  --rgb: 255, 235, 59;
  height: 70px;
  background-color: rgba(var(--rgb));
}
.line-12 {
  --rgb: 255, 193, 7;
  height: 60px;
  background-color: rgba(var(--rgb));
}
.line-13 {
  --rgb: 255, 152, 0;
  height: 50px;
  background-color: rgba(var(--rgb));
}
.line-14 {
  --rgb: 255, 87, 34;
  height: 40px;
  background-color: rgba(var(--rgb));
}
.line-15 {
  --rgb: 153, 0, 0;
  height: 30px;
  background-color: rgba(var(--rgb));
}
.line-16 {
  --rgb: 66, 0, 0;
  height: 20px;
  background-color: rgba(var(--rgb));
}
